{% extends 'UserSide/base_userside.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block externalLinks %}
{% endblock %}
{% block contentbody %}
<!-- Breadcrumb area Start -->
<section class="page-title-area bg-image ptb--80" data-bg-image="assets/img/bg/page_title_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">My Account</h1>
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="current"><span>Edit My Account</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb area End -->
<!-- Main Content Wrapper Start -->
<!-- <div class="main-content-wrapper" >
    <div class="page-content-inner ptb--80 ptb-md--60 pb-sm--55">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="user-dashboard-tab flex-column flex-md-row">
                        
                        <div class="user-dashboard-tab__content tab-content">
                            
                            
                            
                            
                            <div class="tab-pane fade" id="accountdetails"> -->
                                <form action="" method="post" class="form form--account">
                                    {% csrf_token %}
                                    <div class="row mb--20">
                                        <div class="col-md-6 mb-sm--20">
                                            <div class="form__group">
                                                <label class="form__label" for="f_name">First name <span class="required">*</span></label>
                                                <input type="text" name="first_name" id="f_name" class="form__input" value="{{user.first_name}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form__group">
                                                <label class="form__label" for="l_name">Last name <span class="required">*</span></label>
                                                <input type="text" name="last_name" id="l_name" class="form__input" value="{{user.last_name}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb--20">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <label class="form__label" for="d_name">Display name/Username<span class="required">*</span></label>
                                                <input type="text" name="username" id="d_name" class="form__input" value="{{user.username}}">
                                                <span class="form__notes"><em>This will be how your name will be displayed in the account section and in reviews</em></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb--20">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <label class="form__label" for="email">Email Address <span class="required">*</span></label>
                                                <input type="email" name="email" id="email" class="form__input" value="{{user.email}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb--20">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <label class="form__label" for="email">Phone Number<span class="required">*</span></label>
                                                <input type="email" name="phone_number" id="email" class="form__input" value="{{user.phone_number}}">
                                            </div>
                                        </div>
                                    </div>
                                    <fieldset class="form__fieldset mb--20">
                                        <legend class="form__legend">Password change</legend>
                                        <div class="row mb--20">
                                            <div class="col-12">
                                                <div class="form__group">
                                                    <label class="form__label" for="cur_pass">Current password (leave blank to leave unchanged)</label>
                                                    <input type="password" name="cur_pass" id="cur_pass" class="form__input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb--20">
                                            <div class="col-12">
                                                <div class="form__group">
                                                    <label class="form__label" for="new_pass">New password (leave blank to leave unchanged)</label>
                                                    <input type="password" name="new_pass" id="new_pass" class="form__input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form__group">
                                                    <label class="form__label" for="conf_new_pass">Confirm new password</label>
                                                    <input type="password" name="conf_new_pass" id="conf_new_pass" class="form__input">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <input type="submit" value="Save Changes" class="btn btn-size-md">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            <!-- </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Main Content Wrapper Start -->
{% endblock %}
