{% extends 'UserSide/base_userside.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block externalLinks %}
{% endblock %}
{% block contentbody %}
<section class="page-title-area bg-image ptb--80" data-bg-image="assets/img/bg/page_title_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">My Account</h1>
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="current"><span>My Account</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="main-content-wrapper">
    <div class="page-content-inner pt--75 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-md-6 mb-sm--50">
                    <div class="login-box">
                        <h1 class="heading__tertiary mb--30 text-center"><b>Login</b> </h1>
                        <form class="form form--login"  method="post" action="{% url 'Login' %}" autocomplete="off">
                            {% csrf_token %}
                            <div class="form__group mb--20">
                                <label class="form__label" for="username_email">Username<span class="required">*</span></label>
                                <input type="text" class="form__input" id="username_email" name="username">
                            </div>
                                                  
                            <div class="form__group mb--20">
                               <label class="form__label" for="login_password">Password<span class="required">*</span></label>
                                <input type="password" class="form__input" id="login_password" name="password">
                            </div>
                            
                            <div class="d-flex align-items-center mb--20">
                                <div class="form__group mr--30">
                                    <input type="submit" value="Log in" class="btn btn-size-sm">
                                </div>
                                
                            </div>
                            
                            <!-- <a class="forgot-pass" href="#">Lost your password?</a><br> -->
                            <a class="forgot-pass" href="{% url 'Register' %}"><u>Don't have An Account?Register Here</u></a>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}