{% extends 'UserSide/base_userside.html' %}
{% load static %}
{% block title %}
Login Otp 
{% endblock %}
{% block externalLinks %}
{% endblock %}
{% block contentbody %}
<div class="main-content-wrapper">
    <div class="page-content-inner pt--75 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-md-6 mb-sm--50">
                    <div class="login-box">
                        <h3 class="heading__tertiary mb--30">Login</h3>
                        <form class="form form--login"  method="post"  autocomplete="off">
                            {% csrf_token %}
                            <div class="form__group mb--20">
                                <label class="form__label" for="username_email">OTP<span class="required">*</span></label>
                                <input type="text" class="form__input"  name="otp">
                            </div>
                            <div class="d-flex align-items-center mb--20">
                                <div class="form__group mr--30">
                                    <input type="submit" value="Sign Me in " class="btn btn-size-sm">
                                </div>
                                
                            </div>
                                                  
                          
                            
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}








<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Innap : Hotel Admin Template" />
	<meta property="og:title" content="Innap : Hotel Admin Template" />
	<meta property="og:description" content="Innap : Hotel Admin Template" />
	<meta property="og:image" content="https://innap.dexignzone.com/xhtml/social-image.png" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Admin LoginOtp</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static 'admin/images/favicon.png' %}" />
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">

</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a href="index.html"><img src="{% static 'admin/images/logo-full.png' %}" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4">Enter Your Otp</h4>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>OTP</strong></label>
                                            <input type="text" class="form-control" value="Enter your OTP" name="otp">
                                        </div>
                                       
                                        <div class="row d-flex justify-content-between mt-4 mb-2">
                                            
                                            <div class="mb-3">
                                                <a href="page-forgot-password.html">Resend OTP</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Sign Me In</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Don't have an account? <a class="text-primary" href="./page-register.html">Sign up</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'admin/vendor/global/global.min.js ' %}"></script>
    <script src="{% static 'admin/js/custom.min.js' %}"></script>
    <script src="{% static 'admin/js/deznav-init.js ' %}"></script>
	
</body>
</html>