{% extends 'UserSide/base_userside.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block externalLinks %}
{% endblock %}
{% block contentbody %}
<!-- Breadcrumb area Start -->
<section class="page-title-area bg-image ptb--80" data-bg-image="assets/img/bg/page_title_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">My Account</h1>
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="current"><span>My Account</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb area End -->
<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div>
        {% if messages %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-6">

                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger ">{{message}}</div>
                    {% else%}
                    <div class="alert alert-{{message.tags}}">{{message}}</div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="page-content-inner ptb--80 ptb-md--60 pb-sm--55">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="user-dashboard-tab flex-column flex-md-row">
                        <div class="user-dashboard-tab__head nav flex-md-column" role="tablist"
                            aria-orientation="vertical">
                            <button type="button" class="nav-link active" data-bs-toggle="tab" role="tab"
                                data-bs-target="#dashboard" aria-controls="dashboard"
                                aria-selected="true">Dashboard</button>
                            <button type="button" class="nav-link" data-bs-toggle="tab" role="tab"
                                data-bs-target="#orders" aria-controls="orders" aria-selected="true">Orders</button>
                            <button type="button" class="nav-link" data-bs-toggle="tab" role="tab"
                                data-bs-target="#addresses" aria-controls="addresses"
                                aria-selected="true">Addresses</button>
                            <button type="button" class="nav-link" data-bs-toggle="tab" role="tab"
                                data-bs-target="#accountdetails" aria-controls="accountdetails"
                                aria-selected="true">Profile</button>
                            <button type="button" class="nav-link" data-bs-toggle="tab" role="tab"
                                data-bs-target="#EditaccountDetails" aria-controls="EditaccountDetails"
                                aria-selected="true">Edit Profile</button>
                            <button type="button" class="nav-link" data-bs-toggle="tab" role="tab"
                                data-bs-target="#Wallet" aria-controls="Wallet" aria-selected="true">Wallet</button>
                            <a type="button" class="nav-link" href="{% url 'Userlogout'%}">Logout</a>
                        </div>
                        <div class="user-dashboard-tab__content tab-content">
                            <div class="tab-pane fade show active" id="dashboard">
                                <p>Hello <strong>{{user.username}}</strong> (not <strong>{{user.username}}</strong>? <a
                                        href="{% url 'Userlogout'%}">Log out</a>)</p>
                                <p>From your account dashboard. you can easily check &amp; view your <a href="">recent
                                        orders</a>, manage your <a href="">shipping and billing addresses</a> and <a
                                        href="">edit your password and account details</a>.</p>
                            </div>
                            <div class="tab-pane fade" id="orders">
                                <div class="message-box mb--30 d-none">
                                    <p><i class="fa fa-check-circle"></i>No order has been made yet.</p>
                                    <a href="shop.html">Go Shop</a>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-content ">
                                            <table class="table text-center">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Order ID </th>
                                                        <th>Date</th>
                                                        <th>Product</th>
                                                        <th>Payment Method</th>
                                                        <th>Status</th>
                                                        <th>Total</th>
                                                        <th>Invoice</th>
                                                        <th>....</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in OrderProductDetails %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{i.order.order_id}}</td>

                                                        <td class="wide-column">{{i.order.date}}</td>
                                                        <td>{{i.product.product_name}}</td>
                                                        <td>{{i.payment.payment_method}}</td>
                                                        <td>{{i.status}}</td>
                                                        <td> {{i.product_price}} for 1 item</td>
                                                        <td><a href="{% url 'Invoice' i.id  %}" class="btn btn-size-sm">Invoice</a></td>
                                                        <td class="product-action-btn">
                                                            {% if i.status == 'Order Confirmed' %}
                                                            <a href="{% url 'CancelorderProfile' i.id %}" class="btn btn-size-sm ">Cancel</a>
                                                            
                                                            {% elif i.status == 'Delivered' %}
                                                            <a href="{% url 'OrderReturn' i.id %}" class="btn btn-size-sm ">Return</a>
                                                            {% else  %}
                                                            {% endif %}
                    
                                                        </td>
                                                        
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="addresses">
                                <p class="mb--20">The following addresses will be used on the checkout page by default.
                                </p>
                                <div class="row">
                                    <h1 class="text-center"><b>Billing address</b> </h1>
                                    {% for i in AddressDetails %}
                                    <div class="col-md-6 ">




                                        <div class="well-md mt-4">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                    <h2 class="card-title"><b>{{i.Buyername}}</b></h2>
                                                    <p class="card-text">
                                                    <p>{{i.Buyers_Address}}</p>
                                                    <p> {{i.city}}</p>
                                                    <p> {{i.state}}- {{i.pincode}}</p>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    {% endfor %}

                                </div>
                            </div>

                            <div class="tab-pane fade" id="accountdetails">
                                <div class="row text-center">

                                    <!-- -------------- ---------------------------------------- --------------- -->
                                    <div class="card mx-5" ">
                                    <div class=" card-body">
                                        <h2 class="card-title"><b> Profile Details </b></h2>
                                        <hr>
                                        <p class="card-text"><b>Full Name: </b>{{user.first_name}}{{user.last_name}}</p>
                                        <p class="card-text"><b>Username: </b>{{user.username}}</p>
                                        <p class="card-text"><b>Email: </b>{{user.email}}</p>
                                        <p class="card-text"><b>Phone Number: </b>{{user.phone_number}}</p>

                                        <br>
                                    </div>
                                </div>
                            </div>
                            <!-- --------------------------------- -- ---------------------------------- -->
                        </div>


                        <!-- -------------------- below can be used for editing Profile with coupon trick--------------------- -->

                        <div class="tab-pane fade" id="EditaccountDetails">
                            <div class="row text-center">

                                <form action="" method="post" class="form form--account">
                                    {% csrf_token %}
                                    <div class="row mb--20">
                                        <div class="col-md-6 mb-sm--20">
                                            <div class="form__group">
                                                <label class="form__label" for="f_name">First name <span
                                                        class="required">*</span></label>
                                                <input type="text" name="first_name" id="f_name" class="form__input"
                                                    value="{{user.first_name}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form__group">
                                                <label class="form__label" for="l_name">Last name <span
                                                        class="required">*</span></label>
                                                <input type="text" name="last_name" id="l_name" class="form__input"
                                                    value="{{user.last_name}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb--20">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <label class="form__label" for="d_name">Display name/Username<span
                                                        class="required">*</span></label>
                                                <input type="text" name="username" id="d_name" class="form__input"
                                                    value="{{user.username}}">
                                                <span class="form__notes"><em>This will be how your name will be
                                                        displayed in the account section and in reviews</em></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb--20">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <label class="form__label" for="email">Email Address <span
                                                        class="required">*</span></label>
                                                <input type="email" name="email" id="email" class="form__input"
                                                    value="{{user.email}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb--20">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <label class="form__label" for="email">Phone Number<span
                                                        class="required">*</span></label>
                                                <input type="phone" name="phone_number" id="email" class="form__input"
                                                    value="{{user.phone_number}}">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <fieldset class="form__fieldset mb--20">
                                            <legend class="form__legend">Password change</legend>
                                            <div class="row mb--20">
                                                <div class="col-9">
                                                    <div class="form__group">
                                                        <label class="form__label" for="cur_pass">Current password (leave blank to leave unchanged)</label>
                                                        <input type="password" name="cur_pass" id="cur_pass" class="form__input">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb--20">
                                                <div class="col-9">
                                                    <div class="form__group">
                                                        <label class="form__label" for="new_pass">New password (leave blank to leave unchanged)</label>
                                                        <input type="password" name="new_pass" id="new_pass" class="form__input">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-9">
                                                    <div class="form__group">
                                                        <label class="form__label" for="conf_new_pass">Confirm new password</label>
                                                        <input type="password" name="conf_new_pass" id="conf_new_pass" class="form__input">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset> -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form__group">
                                                <input type="submit" value="Save Changes"
                                                    data-bs-target="#accountDetails" class="btn btn-size-md">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="Wallet">
                            <div class="row text-center">
                                <div class="row">
                                    <div class="col-12">
                                        {% if walletdetails %}
                                        <div class="table-content ">
                                            <table class="table text-center">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        
                                                        <th>Amount</th>
                                                        <th>Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in walletdetails %}
                                                    <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{i.decription_amount}}</td>
                                                        <td>₹{{i.amount}}</td>

                                                        
                                                        
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                            {% endif %}
                                            <div class="well p-1 rounded" style="background-color: #999999;">
                                                
                                                <h2 class="mt-5">Balance  Available: <b>₹{{walletbalance.balance}}</b></h2>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content Wrapper Start -->
{% endblock %}