{% extends 'UserSide/base_userside.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}
{% block externalLinks %}
{% endblock %}
{% block contentbody %}



    

        <!-- Breadcrumb area Start -->
        <section class="page-title-area bg-image ptb--80" data-bg-image="{% static 'templateresources/assets/img/bg/page_title_bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">Login &amp; Register</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="current"><span>Login &amp; Register</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            
            <div class="page-content-inner pt--75 pb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-md-6">
                           
                            <div class="register-box">
                                <h4 class="heading__tertiary mb--30">Register</h4>
                                <form class="form form--login" method="post" autocomplete="off" action="{% url 'Register'%}">
                                    {% csrf_token %} 
                                    <div class="form__group mb--20">
                                        <label class="form__label" for="email">Email address <span class="required">*</span></label>
                                        <input type="email" class="form__input" id="email" name="email">
                                    </div>
                                    <div class="form__group mb--20">
                                        <label class="form__label" for="">Username<span class="required">*</span></label>
                                        <input type="text" class="form__input" id="" name="username">
                                    </div>
                                    <div class="form__group mb--20">
                                        <label class="form__label" for="">First Name </label>
                                        <input type="text" class="form__input" id="email" name="first_name">
                                    </div>
                                    <div class="form__group mb--20">
                                        <label class="form__label" for="">Last Name</label>
                                        <input type="text" class="form__input" id="email" name="last_name">
                                    </div>
                                    <div class="form__group mb--20">
                                        <label class="form__label" for="">Phone Number<span class="required">*</span></label>
                                        <input type="text" class="form__input" id="" name="phone_number">
                                    </div>
                                    <div class="form__group mb--20">
                                        <label class="form__label" for="">Referral Code(if Available)</label>
                                        <input type="text" class="form__input" id="" name="referral_code">
                                    </div>
                                    <div class="form__group mb--20">
                                       <label class="form__label" for="register_password">Password <span class="required">*</span></label>
                                        <input type="password" class="form__input" id="register_password" name="password1">
                                    </div>
                                    
                                       <label class="form__label" for="register_password">ReEnter Password <span class="required">*</span></label>
                                        <input type="password" class="form__input" id="register_password" name="password2">
                                    </div>
                                    <div class="form__group mt-3">
                                        <input type="submit" value="Register" class="btn btn-size-sm">
                                    </div>
                                </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->
        {% endblock %}

        