{% extends 'UserSide/base_userside.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}
Checkout
{% endblock %}
{% block externalLinks %}
{% endblock %}
{% block contentbody %}
<!-- Breadcrumb area Start -->
<section class="page-title-area bg-image ptb--80" data-bg-image="assets/img/bg/page_title_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Checkout</h1>
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="current"><span>Checkout</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb area End -->

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="page-content-inner pt--80 pt-md--60 pb--72 pb-md--60">
        <div class="container">
            <div class="row d-flex">
                <div class="col-xs-6 col-6">
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="form__group">
                                <div class="custom-checkbox mb--20">
                                    <input type="checkbox" name="shipdifferetads" id="shipdifferetads"
                                        class="form__checkbox">

                                    <label for="shipdifferetads" class="form__label shipping-label">Add A New
                                        Address </label>
                                </div>
                                <div class="ship-box-info hide-in-default mt--30">
                                    <div class="checkout-form">
                                        <form action="" method="post" class="form form--checkout">
                                            {% csrf_token %}

                                            <div class="row mb--20">
                                                <div class="form__group col-12 mb-sm--30">
                                                    <label for="billing_fname" class="form__label">Name <span
                                                            class="required">*</span></label>
                                                    <input type="text" name="Buyername" id="billing_fname"
                                                        class="form__input" required>
                                                </div>

                                            </div>
                                            <div class="row mb--20">
                                                <div class="form__group col-12">
                                                    <label for="billing_company" class="form__label">Delivery
                                                        Address</label>
                                                    <input type="text" name="Buyers_Address" id="billing_company"
                                                        class="form__input" required>
                                                </div>
                                            </div>


                                            <div class="row mb--20">
                                                <div class="form__group col-12">
                                                    <label for="billing_city" class="form__label">Town / City <span
                                                            class="required">*</span></label>
                                                    <input type="text" name="city" id="billing_city"
                                                        class="form__input" required>
                                                </div>
                                            </div>
                                            <div class="row mb--20">
                                                <div class="form__group col-12">
                                                    <label for="billing_phone" class="form__label">pincode <span
                                                            class="required">*</span></label>
                                                    <input type="text" name="pincode" 
                                                        class="form__input" required>
                                                </div>
                                            </div>
                                            <div class="row mb--20">
                                                <div class="form__group col-12">
                                                    <label for="billing_state" class="form__label">State<span
                                                            class="required">*</span></label>
                                                    <input type="text" name="state" id="billing_state"
                                                        class="form__input" required>
                                                </div>
                                            </div>
                                            <div class="row mb--20">
                                                <div class="form__group col-12">
                                                    <label for="billing_phone" class="form__label">Phone <span
                                                            class="required">*</span></label>
                                                    <input type="text" name="phone_number" id="billing_phone"
                                                        class="form__input" required>
                                                </div>
                                            </div>
                                            <div class="row mb--20">
                                                <div class="form__group col-12">
                                                    <label for="billing_email" class="form__label">Email Address
                                                        <span class="required">*</span></label>
                                                    <input type="email" name="email" id="billing_email"
                                                        class="form__input" required>
                                                </div>
                                            </div>
                                            <div class="row mb--20">
                                                <div class="form__group col-12">
                                                    <label for="billing_country" class="form__label">Country <span
                                                            class="required">*</span></label>
                                                    <input type="text" name="country" id="billing_email"
                                                        class="form__input" required>

                                                </div>
                                            </div>
                                            <div class="row mb--20">
                                                <div class="form__group col-12">

                                                    <input type="submit" value="Save Address"
                                                        class="form__input btn-success">

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- User Action End -->
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 ">

                    <div class="order-details">
                        <div class="checkout-title mt--10">
                            <h2>Your Order</h2>
                        </div>
                        <div class="table-content table-responsive mb--30">
                            <table class="table order-table order-table-2">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in Cart_items %}
                                    <tr>
                                        <th>{{i.product.product_name}}
                                            <strong><span>&#10005;</span>{{i.quantity}}</strong>
                                        </th>
                                        <td class="text-right">₹{{i.product.price|mul:i.quantity}} (₹{{i.product.price}}×{{i.quantity}})</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td class="text-right">₹{{Subtotal}}</td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>Tax</th>
                                        <td class="text-right">
                                            <span>₹{{Tax}}</span>
                                            <p>(Calculated Tax)</p>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td class="text-right"><span class="order-total-ammount">₹
                                                {{Total}}</span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <hr>

                        <div class="row">



                            <div class="user-actions user-actions__coupon">
                                <div class="message-box mb--30">
                                    <p><i class="la la-exclamation-circle"></i> <a class="expand-btn"
                                            href="#coupon_info"> Choose Address</a></p>
                                </div>
                                <div id="coupon_info" class="user-actions__form hide-in-default">

                                    <p>choose from Address from Given Below.</p>
                                    <div class="form__group d-sm-flex">
                                    <form action="{% url 'PlaceOrder' %}" method="POST" class="form">
                                        {% csrf_token %}
                                            {% for i in AddressDetails %}
                                            <div class="card">
                                                <div class="card-body">
                                                    <h2>{{i.Buyername}}</h2>
                                                    <p>{{i.Buyers_Address}}</p>
                                                    <p> {{i.city}}</p> 
                                                    <p> {{i.state}}- {{i.pincode}}</p>
                                                    
                                                </div>
                                            </div>
                                            <div class="form-check mt-2 mb-5">
                                                <input class="form-check-input" type="radio" name="addressUsed"
                                                    value="{{i.id}}">
                                                <label class="form-check-label fw-bold"
                                                    for="custadd{{forloop.counter}}">
                                                    Address: {{ forloop.counter }} </label>
                                            </div>
                                            {% endfor %}
                                            <hr>
                                            <div class="checkout-payment">
                                                <h2 class="text-center">Mode of Payment</h2>
                                                <hr>

                                                <div class="payment-group mb--10">
                                                    <div class="payment-radio">
                                                        <input type="radio" value="RazorPay" name="payment-method" id="bank"
                                                            checked>
                                                        <label class="payment-label" for="RazorPay">RazorPay
                                                            </label>
                                                    </div>
                                                    <div class="payment-info" data-method="bank">
                                                        <p>Make your payment directly into our bank account. Please use
                                                            your Order
                                                            ID as the payment reference. Your order will not be shipped
                                                            until the
                                                            funds have cleared in our account.</p>
                                                    </div>
                                                </div>
                                                <div class="payment-group mb--10">
                                                    <div class="payment-radio">
                                                        <input type="radio" value="PayPal" name="payment-method" id="bank"
                                                            checked>
                                                        <label class="payment-label" for="PayPal">PayPal
                                                            </label>
                                                    </div>
                                                    <div class="payment-info" data-method="bank">
                                                        <p>Make your payment directly into our bank account. Please use
                                                            your Order
                                                            ID as the payment reference. Your order will not be shipped
                                                            until the
                                                            funds have cleared in our account.</p>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="payment-group mb--10">
                                                    <div class="payment-radio">
                                                        <input type="radio" value="cash" name="payment-method"
                                                            id="cash">
                                                        <label class="payment-label" for="cash">
                                                            CASH ON DELIVERY
                                                        </label>
                                                    </div> 
                                                    <div class="payment-info cash hide-in-default" data-method="cash">
                                                        <p>Pay with cash upon delivery.</p>
                                                    </div>
                                                </div>
                                                <div class="payment-group mt--20">
                                                    <p class="mb--15">Your personal data will be used to process your
                                                        order, support
                                                        your experience throughout this website, and for other purposes
                                                        described in
                                                        our privacy policy.</p>
                                                    <button type="submit" class="btn btn-size-md btn-fullwidth">Proceed to checkout
                                        </button>
                                                </div>
                                        </form>
                                    </div>


                                </div>

                            </div>

                        </div>








                    </div>
                </div>
            </div>








        </div>

        <!-- Checkout Area End -->
    </div>
</div>
</div>

<!-- Main Content Wrapper Start -->
{% endblock %}