{% extends 'UserSide/base_userside.html' %}
{% load static %}
{% block title %}
Payment
{% endblock %}
{% block externalLinks %}
{% endblock %}
{% block contentbody %}
<div class="row justify-content-center mt-5">
  <div class="col-4">
    <img class="img-fluid" src="{% static 'project/PaypalThumbnail.webp' %}" alt="">
<!-- Set up a container element for the button -->
{{form.render}}
</div>
</div>
{% endblock %}
{% block CustomScripts %}

{% endblock %}
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    


