{% extends 'UserSide/base_userside.html' %} {% load static %} {% block title %}
{% endblock %} {% block externalLinks %} {% endblock %} {% block contentbody %}
<div class="row justify-content-center mt-5">
  <div class="col-4">
    <img class="img-fluid" src="{% static 'project/razor.png' %}" alt="" />
    <!-- Set up a container element for the button -->
    <div>
      <form
        class="text-center border border-light p-5"
        action="success"
        method="POST"
      >
        {% csrf_token %}

        <input
          type="name"
          name="name"
          id="name"
          required
          class="form-control mb-4"
          placeholder="Name"
        />

        <script
          src="https://checkout.razorpay.com/v1/checkout.js"
          data-key="rzp_test_4IGtVl9xeiuWPZ"
          data-amount="50000"
          data-currency="INR"
          data-order_id="{{payment.id}}"
          data-buttontext="Pay with Razorpay"
          data-name="Professional Cipher"
          data-description="Django and Data Science"
          data-image="https://example.com/your_logo.jpg"
          data-prefill.name="Roshni"
          data-prefill.email="vrroshni@gmail.com"
          data-theme.color="#F37254"
        ></script>
      </form>
    </div>
  </div>
</div>

{% endblock %}
