{% extends 'Admin/base_admin.html' %}
{% load static %}
{% block title %}
Coupon
{% endblock %}
{% block pagetitle %}
Coupon
{% endblock %}
{% block styles %}
{% endblock %}
{% block body %}




<div class="container-fluid">
    <div class="row page-titles">
        <button type="button" class="btn btn-primary btn-md mb-2" data-bs-toggle="modal"
            data-bs-target="#exampleModalCenter">Add Coupon</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Add Coupon Code</label>
                            <div class="mb-3">
                                <input type="text" name="code" class="form-control input-rounded"
                                    placeholder="Enter  Coupon Code">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Validity of Coupon</label>
                            <div class="mb-3">
                                <input type="date" name="validity" class="form-control input-rounded"
                                    placeholder="Enter Date">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Discount Percentage</label>
                            <div class="mb-3">
                                <input type="text" name="discount" class="form-control input-rounded"
                                    placeholder="Enter Discount Percentage">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        {% for i in coupons %}
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header text-center ">
                    <h4 class="card-title ">{{i.coupon_code}}</h4>
                </div>
                
                <div class="card-body pb-2">
                    <p>Valid from :<b> {{i.valid_from}}</b> <br>
                    Valid To :<b> {{i.valid_to}}</b> <br>
                    <b class="text-danger my-1 fs-4">Discount : {{i.discount}}%</b> <br>
                    Status 
                        {% if i.is_active == True %}
                       
                        <b></b><span class="badge light badge-success"> Now Active</span> 
                        {% else %}
                   
                        <span class="badge light badge-danger"> Now InActive</span>  
                        {% endif %}</b>
                    </p>
                </div>
                
                <div class="card-footer ">
                    <a class="card-text d-inline  btn btn-outline-primary btn-xs" href="{% url 'EditCoupon' i.id %}">Edit</a>
                   
                    {% if i.is_active == True %}
                    
                    <a class="card-text d-inline   btn btn-outline-success btn-xs" href="{% url 'BlockCoupon' i.id %}">Block</a>
                    {% else %}
                    <a class="card-text d-inline   btn btn-outline-danger btn-xs" href="{% url 'UnBlockCoupon' i.id %}">UnBlock</a>
                    {% endif %}

                    <a href="{% url 'DeleteCoupon' i.id %}" class="card-link float-end btn btn-outline-danger btn-xs">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}