{% extends 'Admin/base_admin.html' %}
{% load static %}
{% block title %}
 Edit Coupon
{% endblock %}
{% block pagetitle %}
Edit Coupon				
{% endblock  %}
{% block styles %}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-2"></div>
<div class="col-6 " style="margin-top: 100px;">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Edit Coupon</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Coupon Code</label>
                        <div class="col-sm-9">
                            <input type="text" name="code" class="form-control input-rounded"
                                    value="{{CouponDiscount.coupon_code}}">
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Validity of Coupon</label>
                        <div class="col-sm-9">
                            <input type="date" name="validity" class="form-control input-rounded" value="{{CouponDiscount.valid_to}}">                  
                          </div>
                   
  
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Discount Percentage</label>
                        <div class="col-sm-9">
                            <input type="text" name="discount" class="form-control input-rounded"
                             value="{{CouponDiscount.discount}}" >                 
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Update this Coupon</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block CustomScripts %}
{% endblock %}