{% extends 'Admin/base_admin.html' %}
{% load static %}
{% block title %}
User's Details
{% endblock %}
{% block pagetitle %}
User's Data
{% endblock %}
{% block body %}

<div class="container-fluid" style="padding-top: 0">

    <div class="row page-titles" style="margin-bottom: 0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Registerd</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Users</a></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {% if datas %}


                    <div class="table-responsive">

                        <table class="table table-sm mb-0 table-striped">
                            <thead>
                                <tr>
                                    <!-- <th class=" pe-3">
                                            <div class="form-check custom-checkbox mx-2">
                                                <input type="checkbox" class="form-check-input" id="checkAll">
                                                <label class="form-check-label" for="checkAll"></label>
                                            </div>
                                        </th> -->
                                    <th>S No.</th>
                                    <th>Username</th>
                                    <th>first_name</th>
                                    <th>last_name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <th>Role</th>
                                    <th>Registered On</th>
                                    <th>Action</th>

                                </tr>
                            </thead>

                            <tbody id="customers">
                                {% for data in datas %}
                                {% if data.is_admin %}
                                {% else %}
                                <tr class="btn-reveal-trigger">
                                    <!-- <td class="py-2">
                                            <div class="form-check custom-checkbox mx-2">
                                                <input type="checkbox" class="form-check-input" id="checkbox1">
                                                <label class="form-check-label" for="checkbox1"></label>
                                            </div>
                                        </td> -->
                                    <td>{{ data.id}}</td>
                                    <td class="py-3">
                                        <a href="#">
                                            <div class="media d-flex align-items-center">
                                                <div class="avatar avatar-xl me-2">
                                                    <div class=""><img class="rounded-circle img-fluid"
                                                            src="{% static 'admin/images/avatar/1.png' %}" width="30"
                                                            alt="" />
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mb-0 fs--1">{{ data.username}}</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="py-2">{{ data.first_name}}</td>
                                    <td class="py-2">{{ data.last_name}}</td>
                                    <td class="py-2">{{ data.email}}</td>
                                    <td class="py-2">{{ data.phone_number}}</td>
                                    <td class="py-2">
                                        {% if data.is_active %}
                                        Active
                                        {% else %}
                                        Not Active
                                        {% endif %}

                                    </td>
                                    <td class="py-2">
                                        {% if data.is_superadmin %}
                                        <span class="badge light badge-success">Admin</span>

                                        {% else %}
                                        <span class="badge light badge-danger">User</span>

                                        {% endif %}
                                    </td>
                                    <td class="py-2">{{ data.date_joined}}</td>
                                    <td>{% if data.is_active %}
                                        <a href="{% url 'BlockUser' data.id %}" class=" btn btn-success btn-xs "
                                            
                                            onclick="return confirm('Are you sure, you  want to block user  {{data.username}} ?)">BLOCK</a>
                                            
                                                

                                        {% else %}
                                        <a href="{% url 'UnBlockUser' data.id %}" class="btn btn-danger btn-xs"
                                            
                                            onclick="return confirm('Are you sure, you  want to Unblock user  {{data.username}} ?')">UNBLOCK</a>
                                        {% endif %}

                                    </td>

                                   
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<script src="{% static 'admin/vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins-init/sweetalert.init.js' %}"></script>

	<script src="{% static 'admin/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>


{% endblock %}