{% extends 'Admin/base_admin.html' %}
{% load static %}
{% block title %}
Edit Category
{% endblock %}
{% block pagetitle %}
Edit Category {{category.title}}					
{% endblock  %}
{% block body %}
<div class="row">
    <div class="col-2"></div>
<div class="col-6 " style="margin-top: 100px;">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Edit Category</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Category Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="title"  value="{{category.title}}" class="form-control" placeholder="Category Name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"  value="{{category.description}}" name="description" placeholder="Description"
                            rows="4" id="comment"></input>
                        </div>
                    </div>
                   
  
                    <div class="mb-3 row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
