{% extends 'Admin/base_admin.html' %}
{% load static %}
{% block title %}
Categories
{% endblock %}
{% block pagetitle %}
 Category list 			
{% endblock  %}
{% block body %}


    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active "><a href="javascript:void(0)"></a></li>
                
            </ol>
        </div>
        {% if category %}
        <div class="row" >
            {% for value in category %}
            <div class="col-xl-3 col-lg-6 col-sm-6" >
                <div class="card">
                    <div class="card-body">
                        <div class="new-arrival-product">
                            <!-- <div class="new-arrivals-img-contnent">
                                <img class="img-fluid" src="images/product/1.jpg" alt="">
                            </div> -->
                            <div class="new-arrival-content text-center mt-3">
                                <h4><a href="#">{{value.title}}</a></h4>
                                <p class="text-content">{{value.description}}</p>
                                
                                <ul class="star-rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-half-empty"></i></li>
                                    <li><i class="fa fa-star-half-empty"></i></li>
                                </ul>

                                <a href="{% url 'EditCategory' value.id %}"><button type="button" class="btn light btn-secondary btn-xs ">Edit</button></a>
                                <a href="{% url 'DeleteCategory' value.id %}"><button type="button" class="btn light btn-danger btn-xs">Delete</button></a>

            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
         <!-- ---------------------------------- Pagination ---------------------------------- -->
      <nav class="d-flex justify-content-center">
        <ul class="pagination pagination-circle">
            {% if category.has_previous %} 
            <li class="page-item page-indicator">
                <a class="page-link" href="ShowCategory?page={{category.previous_page_number}}">
                    <i class="la la-angle-left"></i></a>
            </li>
            {% endif %}
            {% for n in totalPagelist %}
            <li class="page-item ">
                <a class="page-link" href="ShowCategory?page={{n}}">{{n}}</a>
            </li>
            {% endfor %}
            
            {% if category.has_next %} 
            <li class="page-item page-indicator">
                <a class="page-link" href="ShowCategory?page={{category.next_page_number}}">
                    <i class="la la-angle-right"></i></a>
            </li>
            {% endif %}
        </ul>
     </nav>
    </div>

{% endblock %}